.matching {
      font-weight: bold;
      text-decoration: underline;
}
.included-options{
      color: #aaa;
      font-size: 12px;
}
label {display:block}

/* Big bird example */
ul.mybigbirdlist { display: table-cell }

/* Prettify changes */
pre.prettyprint {
	background-color: #D8D8D8
}
/* Log window */
#log{
     position: fixed;
     top: 20px;
     right: 50px;
     display: none;
     border: 1px solid #aaa;
     height: 400px;
     width: 300px;
     text-align: center;
     background-color: white;
	overflow:auto;
}
#log h2{
      font-size: 18px;
      line-height: 30px;
      border-bottom: 1px solid #aaa;
	margin:0;
	padding:5px;
}

